<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topic-area section-padding40">
        <div class="container">
        <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8">
        <div class="section-tittle text-center mb-55">
        <h2>Explore top subjects</h2>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="single-topic text-center mb-30">
        <div class="topic-img">
        <img src="assets/img/gallery/xtopic1.png.pagespeed.ic.W8owv99y3Q.webp" alt="">
        <div class="topic-content-box">
        <div class="topic-content">
        <h3><a href="pyhton.html">Python Programming</a></h3>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="single-topic text-center mb-30">
        <div class="topic-img">
        <img src="assets/img/gallery/xtopic1.png.pagespeed.ic.W8owv99y3Q.webp" alt="">
        <div class="topic-content-box">
        <div class="topic-content">
        <h3><a href="#">Theory of Computation</a></h3>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="single-topic text-center mb-30">
        <div class="topic-img">
        <img src="assets/img/gallery/xtopic1.png.pagespeed.ic.W8owv99y3Q.webp" alt="">
        <div class="topic-content-box">
        <div class="topic-content">
        <h3><a href="#">Compiler Design</a></h3>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="single-topic text-center mb-30">
        <div class="topic-img">
        <img src="assets/img/gallery/xtopic2.png.pagespeed.ic.B3AdJWv-1b.webp" alt="">
        <div class="topic-content-box">
        <div class="topic-content">
        <h3><a href="#">Web Development</a></h3>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="single-topic text-center mb-30">
        <div class="topic-img">
        <img src="assets/img/gallery/xtopic3.png.pagespeed.ic.n8ulHI4rIb.webp" alt="">
        <div class="topic-content-box">
        <div class="topic-content">
        <h3><a href="#">Data Structures</a></h3>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="single-topic text-center mb-30">
        <div class="topic-img">
        <img src="assets/img/gallery/xtopic4.png.pagespeed.ic.vf7TnG-Tx3.webp" alt="">
        <div class="topic-content-box">
        <div class="topic-content">
        <h3><a href="#">Java Programming</a></h3>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="single-topic text-center mb-30">
        <div class="topic-img">
        <img src="assets/img/gallery/xtopic5.png.pagespeed.ic.xN5MukZNne.webp" alt="">
        <div class="topic-content-box">
        <div class="topic-content">
        <h3><a href="#">Database Management Systems</a></h3>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="single-topic text-center mb-30">
        <div class="topic-img">
        <img src="assets/img/gallery/xtopic6.png.pagespeed.ic.IbevEVkysD.webp" alt="">
        <div class="topic-content-box">
        <div class="topic-content">
        <h3><a href="#">Design and Analysis of Algorithms</a></h3>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="single-topic text-center mb-30">
        <div class="topic-img">
        <img src="assets/img/gallery/xtopic7.png.pagespeed.ic.188nILA8sy.webp" alt="">
        <div class="topic-content-box">
        <div class="topic-content">
        <h3><a href="#">Operating Systems</a></h3>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="single-topic text-center mb-30">
        <div class="topic-img">
        <img src="assets/img/gallery/xtopic8.png.pagespeed.ic.WYCJEzHwlX.webp" alt="">
        <div class="topic-content-box">
        <div class="topic-content">
        <h3><a href="#">C/C++ Programming</a></h3>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    
        
</body>
</html>